* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0b0b0f;
}

#calculator {
    font-family: Arial, sans-serif;
    background-color:hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    padding: 20px;
    
    overflow: hidden;
    background-color: #1a1a1f;
    box-shadow: 0 0 30px rgba(255, 0, 68, 0.3); 
  transition: 0.3s ease-in-out;
}

#calculator:hover {
    box-shadow: 0 0 60px rgba(255, 23, 68, 0.6);
  transform: scale(1);
}

#display {
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    font-size: 5rem;
    text-align: right;
    border: none;
    background-color: #2c2c34;
    color: white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 70px;
    height: 70px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    background-color: #2f1b1b;
    color: white;
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(255, 23, 68, 0.9);
  transition: 0.2s ease-in-out;
}

button:active {
    background-color:hsl(0, 0%, 50%);
}

.operator-btn {
    background-color: #ff0044;
    /* width: 70px;
    height: 70px; */
}

.operator-btn:hover {
box-shadow: 0 0 15px rgba(255, 0, 68, 0.5);


box-shadow: 0 0 25px rgba(255, 23, 68, 0.8);

}
.operator-btn:active {
    background-color:hsl(39, 100%, 75%);
}